{% extends "main_app/order.html" %}
{% block java_script_order_products %}
    {% load static %}
    <script src={% static 'main_app/busket_scripts.js' %}></script>
    <script src={% static 'main_app/scripts.js' %}></script>
    <script src={% static 'main_app/ajax_product_search.js' %}></script>
    <script src={% static 'main_app/data_obj.js' %}></script>
    <script>
        //*************Zmienna globalna używana też w pliku BUSKET_SCRIPT opakowane w klase dla ew. przyszłego rozwoju!!!!***********************
        let data_obj = new Data_class();
        //*******************************************Funkcje i eventy****************************************************
        $("#search_value_order").on('input', post);
        $(document).ready(post);

        function post() {
            ajax_post("{% url 'main_app:ajax-product-view' %}", $("#search_value_order").val(), function (data) {
                    data_obj.set(data);
                    console.log(data_obj.data);
                    write_order_page_product_table("product_table");
                })
        }
    </script>
{% endblock %}