{%  extends "main_app/template_page.html" %}
{% load static %}
{% block scripts_links_block %}
    <script src={% static 'main_app/basket.js' %}></script>
{% endblock %}
{% block bar_table_block %}
    <tr>
                    <td style="text-align: center; width: 60%"><input type="search" required="" id="search_value_order"
                                                                      name="search" placeholder="Szukaj" autofocus
                                                                      style="width: 85%;"></td>
                    <td style="width: 10%;text-align: left;"><input type="button" id="order_accept" value="Dalej"
                                                                    onclick=to_pay_method()>
                    </td>
                    <td style="width: 10%; text-align: right"><input type="button" id="basket_clear_button"
                                                                     value="Wyczyść koszyk"
                                                                     onclick=basket_class.clear_storage()></td>
                    <td id="basket_sum_field" style="color: blue; text-align: end; padding-right: 10px "></td>
                </tr>
{% endblock %}
{% block main_table_block %}
    <tr>
          <td style="text-align: left; width: 60%;border-right-style: dotted; border-width: thin; border-color: black">
                        <div>
                            <table class="text_table left_table script_writing_table" id="product_table">
                                <tr>
                                    <th style="width: 40%">Nazwa</th>
                                    <th style="width: 10%">Ilość</th>
                                    <th style="width: 15%">Cena zł/szt</th>
                                    <th style="width: 10%">Ile</th>
                                    <th style="width: 15%">Suma</th>
                                    <th style="width: 10%">Dodaj</th>

                                </tr>
                            </table>
                        </div>
                    </td>
                    <td style="text-align: right; width: 40%;">
                        <div>
                            <table style="text-align: center; border-bottom-style: solid; border-width: medium; border-color: black">
                                <tr>
                                    <td>
                                        <h2>Koszyk</h2>
                                    </td>
                                </tr>
                            </table>
                            <table class="text_table right_table script_writing_table" id="busket_table">

                                <tr>
                                    <th style="width: 50%">Nazwa</th>
                                    <th style="width: 15%">Ilość</th>
                                    <th style="width: 20%">Suma</th>
                                    <th style="width: 15%">Edytuj</th>
                                </tr>
                                <tr>
                                    <td style="text-align: end; border-style: hidden">Koszyk jest aktualnie pusty</td>
                                </tr>
                            </table>

                        </div>
                    </td>
                    </tr>
{% endblock %}

{%  block java_scripts_block %}
     <script>
            function to_pay_method() {
                if (!basket.empty())
                    window.open(" {% url 'main_app:pay method' %} ", "_self");
                else
                    alert("Koszyk jest pusty");
            }
        </script>
        {% block java_script_order_products %}{% endblock %}
{% endblock %}