{% if user.is_superuser %}

    Panel zamówienia <br>
    <a href="{% url 'main_app:pay method' %}">Akceptuj</a>

    {% load static %}
    {% load javascript_settings_tags %}
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'main_app/main_style.css' %}"/>
    </head>

    <body>
    <div>

    </div>
    </body>
{% else %}
    <p><a href= '/admin' >Kliknij by się zalogować</a></p>
{% endif %}
