{% extends "main_app/order.html" %}
{% block java_script_order_products %}
    {% load static %}
    <script src={% static 'main_app/busket_scripts.js' %}></script>
    <script src={% static 'main_app/scripts.js' %}></script>
    <script>
        class Data_class {
            constructor() {
            }

            set(data) {
                this.data = data;
            }
        }
        function post() {
                var tmp = $("#search_value_order").val();
                console.log(tmp);
                $.ajax({
                    url: {% url 'main_app:ajax-product-view' %},
                    cache: false,
                    type: "POST",
                    data: {"search_value": tmp},
                    success: function (data) {
                        //console.log(data.product_name);
                        data_obj.set(data);
                        console.log(data_obj.data);
                        write_order_page_product("product_table");
                    },


                    beforeSend: function (xhr, settings) {
                        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                            // Only send the token to relative URLs i.e. locally.
                            xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
                        }
                    }
                });
            }
        let data_obj = new Data_class();
        $("#search_value_order").on('input', post);
        $(document).ready(post);
    </script>

{% endblock %}