{% extends "main_app/template_page.html" %}
{% load static %}
{% block scripts_links_block %}
    <script src={% static 'main_app/basket.js' %}></script>
    <script src={% static 'main_app/pay_script.js' %}></script>
    <script src={% static 'main_app/scripts.js' %}></script>
{% endblock %}
{% block bar_table_block %}
    <tr style="height: 5%">
        <td id="basket_sum_field" style="color: blue; text-align: left; padding-left: 10px "> Kwota do zapłaty
        </td>
        <td style="text-align: right; padding-right: 10px"><input type="button" value="Dodaj zamówienie do bazy"
                                                                  onclick="fun_submit()"></td>
    </tr>
{% endblock %}
{% block main_table_block %}
    <form action="{% url 'main_app:main_page' %}" method="post" id="pay_form">
        {% csrf_token %}
        {% block expand_pay_method_block %}{% endblock %}
    </form>

    {% block validate_submit_fun %}
    {% endblock %}
    <script>
        function fun_submit() {
            if (validate_submit()) {
                post_basket_with_possible_redirect(" {%  url 'main_app:ajax-add-order-view' %} ");
                document.getElementById("pay_form").submit();
                basket_class.clear_storage();
                basket.reset()
            }
        }
    </script>
{% endblock %}



{% block java_scripts_block %}
    <script>
        $(document).ready(function if_basket_empty() {
            if (basket.empty()) {
                alert("Błąd: Koszyk jest pusty");
                window.open(" {% url 'main_app:main_page' %} ", "_self");
            }
        });
    </script>
    {% block expand_java_script_block %}{% endblock %}
{% endblock %}